@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
  display: none;
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
}

@layer base {
  body {
    color: antiquewhite;
    background-color: rgb(38, 37, 37);
    overflow-x: hidden;
    scrollbar-width: 0;
  }

  main {
    @apply w-screen min-h-screen;
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold text-center font-sacramento capitalize mb-10;
  }

  h2 {
    @apply text-3xl font-bold text-center capitalize;
  }

  h3 {
    @apply mb-2;
  }

  table {
    @apply w-full h-full border border-pink-400/30 rounded-xl border-collapse flex flex-col;
  }

  tr {
    @apply w-full flex justify-between border-b border-pink-400/30;
  }

  td {
    @apply p-3;
  }
}

@layer components {
  .wrapper {
    @apply max-w-7xl min-h-[75vh] mx-auto flex flex-col py-10 px-1 md:py-20 md:px-5 xl:px-2;
  }

  .post-body {
    color: antiquewhite;

    @apply prose-blockquote:text-inherit prose-blockquote:w-[95%] prose-blockquote:mx-auto prose-pre:bg-transparent prose-blockquote:border-none prose-video:rounded-lg prose-video:w-[90%] lg:prose-video:w-[60%] prose-video:mx-auto prose-img:rounded-lg prose-img:w-[90%] lg:prose-img:w-[60%] prose-img:mx-auto marker:text-pink-400/30;
  }

  .card {
    @apply flex flex-col rounded-md bg-pink-500/5 backdrop-blur-md overflow-hidden hover:shadow-lg smooth-effect;
  }

  .cat {
    @apply py-1 px-2 bg-pink-500/20 rounded-md text-sm smooth-effect border border-transparent hover:shadow-lg hover:border-pink-500/20 hover:bg-pink-300/20 hover:text-pink-500/90;
  }

  .sidebar {
    @apply flex flex-col rounded-md bg-slate-500/5 backdrop-blur-md overflow-hidden shadow-inner;
  }

  .line {
    @apply w-[90%] h-1 border-b border-secondary/20 mx-auto;
  }
}

@layer utilities {
  .btn {
    transition: all 500ms ease-in-out;

    @apply hover:text-red-400/70 py-2 px-3;
  }
  .smooth-effect {
    transition: all 500ms ease-in-out;
  }

  .tag {
    @apply text-sm text-secondary/90 hover:text-blue-300/90 smooth-effect;
  }

  .img-overlay {
    @apply absolute w-full h-full top-0 left-0 bg-pink-300/10 backdrop-blur-[1px];
  }
}
